.angle-info {
    font-size: 22px;
    margin: 10px 0;
}

.angle-info > div {
    display: inline-block;
    text-align: right;
    width: 50px;
}

.data-label {
    font-size: 32px;
    line-height: 32px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    white-space: nowrap;
}