#search-zone {
    width: 100%;
    display: flex;
}

#search-zone > .left {
    width: 50%;
    margin-right: 20px;
}

@media (max-width: 1342px) {
    #search-zone {
        flex-direction: column;
    }

    #search-zone > .left {
        width: 100%;
        margin: 0 0 40px 0;
    }

    #search-zone > .right {
        width: 100%;
    }
}

#search-zone h2 {
    font-size: 46px;
    margin-bottom: 30px;
}
