#search-zone {
    width: 100%;
    height: 100%;
}

h2 {
    font-size: 46px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 1600px) {
    .ui.grid > .stackable.stackable.row > .column, .ui.stackable.grid > .column.grid > .column, .ui.stackable.grid > .column.row > .column, .ui.stackable.grid > .column:not(.row), .ui.stackable.grid > .row > .column, .ui.stackable.grid > .row > .wide.column, .ui.stackable.grid > .wide.column {
        width: 100% !important;
        margin: 0 0 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        padding: 1rem 1rem !important;
    }
}