<library path="src">
  <class name="Vortex depth" type="rqt_vortex_depth.my_module.MyPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      rqt plugin for vortex depth
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>Vortex depth</label>
      <icon type="theme">system-help</icon>
      <statustip>Vortex depth</statustip>
    </qtgui>
  </class>
</library>
