#connecting {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#connecting h1 {
    font-size: 46px;
    margin-bottom: 64px;
}

#connecting img {
    animation: Logo-spin 1s infinite ease-in-out;
}

#connecting > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes Logo-spin {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}