.data-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.data-table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
}

.data-table tr:nth-child(even) {
    background-color: #dddddd;
}